<!DOCTYPE html>
<html>
  <head>
    <title>RoyalCrossing</title>
     <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#<meta name="viewport" content="with=device-width, intial-scale=1.0">%>
    <meta content="width=640, initial-scale=0.47, maximum-scale=1.0, user-scalable=1" name="viewport">
    <meta property='og:title' content="Royal Crossing"/>
   <meta property='og:image' content='../assets/images/RoyalCrossingss.png'/>
     
    
    <meta property='og:description' content="RoyalCrossing is a fullstack clone of the popular website Royal Road built with React, Redux, and Ruby on Rails."/>
    <meta property='og:url' content="https://royalcrossing.herokuapp.com/#/" />

    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/849ff8657b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
