<!DOCTYPE html>
<html>
  <head>
    <title>RoyalCrossing</title>
    <meta name="viewport" content="with=device-wdith,intial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/849ff8657b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
